doctype html
html(lang="en")
  head
    title= PeerCast
    meta(charset="utf-8")
    style
      .name { font-weight:bold; }
  body
    h1= f + ' probe'

    a(href=castlink) Cast

    table
      each value,key in meta.format
        tr
          td(class="name")= key
          td(class="value")= value
    each stream in meta.streams
      h3= 'Stream ' + stream.index
      table
        each value,key in stream
          tr
            td(class="name")= key
            td(class="value")= value
